#contato{
    width: 100%;
    height: 100px;
    padding: 0px 5%;
    margin-top: 100px;
    margin-bottom: 20px;
}
#sobre{
    background-color: rgb(255, 249, 250);
    width: 100%;
    height: 350px;
    padding: 20px 5%;
}
#container-footer{
    display: flex;
}
.footer-box{
    padding: 0 5% 5% 5%;
    text-align: center;
}
@media (max-width:785px) {
    #contato{
        font-size: 15px;
        height: 150px;
        margin-top: 50px;
    }
    #sobre{
        font-size: 15px;
        height: 800px;
    }
    #container-footer{
        display: block;
    }
}