#contato{
    z-index: 0;
    width: 100%;
    height: 100px;
    padding: 0px 5%;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}
.contato-content{
    z-index: 0;
    display: flex;
    justify-content:space-between;
    width: 50%;
}
.contato-box{
    z-index: 0;
    transition: transform 0.3s ease;
}
.contato-box a{
    text-decoration: none;
    color: black;
    z-index: 0;
    display: flex;
    vertical-align:middle;
}
.contato-box:hover{
    transform: scale(1.02);
}
.contato-box p{
    z-index: 0;
    margin-left: 10px;
}
.contato-box img{
    z-index: 0;
}
#sobre{
    z-index: 0;
    background-color: rgb(255, 249, 250);
    width: 100%;
    /* height: 350px; */
    padding: 2% 5%;
}
#container-footer{
    z-index: 0;
    display: flex;
}
.footer-box{
    z-index: 0;
    padding: 0 3% 2% 3%;
    text-align: justify;
}
.footer-box h4{
    font-weight: 400;
}
.footer-box-maps{
    z-index: 0;
    padding: 0 3% 2% 3%;
    text-align: center;
}
@media (max-width: 1200px) {
    #contato{
        height: 150px;
        margin-top: 50px;
    }
    .contato-content{
        display: block;
        width: 100%;
    }
    #sobre{
        font-size: 15px;
        /* height: 800px; */
    }
    #container-footer{
        display: block;
    }
}