<!DOCTYPE html>
<html lang="Pt-br">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/style/descriptionProducts.css">
    <link rel="stylesheet" href="/assets/style/main.css">
    <title>Atelie Cleide Arts</title>
</head>
<body>
    <script src="/assets/script/includeHeader.js"></script>
    <section id="description-product">
        <section class = "container-product">
            <section class="imgS">
                <section class="carrosel">
                    <section class="img-style"><img class="thumbnail-image" src="/assets/images/products/itematelie.webp" alt=""></section>
                    <section class="img-style"><img class="thumbnail-image" src="/assets/images/products/itematelie2.webp" alt=""></section>
                    <section class="img-style"><img class="thumbnail-image" src="/assets/images/products/itematelie.webp" alt=""></section>
                </section>
                <section class="img">
                    <img class="img-product" src="/assets/images/products/Pdt-04-01.jpeg" alt="qualquercoisa">
                </section>
            </section>
            <section class="buy-product">
                <h1 id="product-name" >Toalha de banho marca dolher valor varia com acabamento essa na faixa 120.00</h1>
                <h4>cor</h4>
                <button id="contact-product" >Falar com Fabricante</button>
            </section>
        </section>
        <section class="description">
            <div class="hr"></div>
            <br>
            <br>
            <p>
                <strong>Kit Berço e Almofada Amamentação</strong>
            </p>
            <p> 
                Tecido Percal 100% Algodão 150 Fios
                Enchimento 100% Fibra de Poliéster
            </p>
            <p>
                <strong>Cortina</strong>
            </p>
            <p>
                Voil e Microfibra 100% Poliéster
            </p>
            <p>
                <strong>Kit Higiene</strong>
            </p>
            <p>
                Madeira 100% MDF
            </p>
            <p>
                <strong>Jogo de Potes</strong>
            </p>     
            <p>
                Plástico 100% Polipropileno
                Tampas e Apliques: Madeira 100% MDF
            </p> 
            <p>
                <strong>Saia de Berço e Enfeite de Porta</strong>
            </p>    
            <p>
                Tecido Microfibra 100% Poliéster
            </p>
            <p>
                <strong>Trocador</strong>
            </p>
            <p>          
                Tecido Microfibra 100% Poliéster
                Revestimento 100% Plástico PVC Transparente
                Enchimento Espuma 100% Poliuretano
            </p>
        </section>
    <section>
    <script src="/assets/script/includeFooter.js"></script>
    <script src="/assets/script/showMenuHeader.js"></script>
    <script src="/assets/script/imageselect.js"></script>
    <script src="/assets/script/customercontact.js"></script>
</body>
</html>