<!DOCTYPE html>
<html lang="Pt-br">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/style/descriptionProducts.css">
    <link rel="stylesheet" href="/assets/style/main.css">
    <title>Atelie Cleide Arts</title>
</head>
<body>
    <script src="/assets/script/includeHeader.js"></script>
    <section id="description-product">
        <section class="container-product">
            <section class="imgS">
                <section class="carrosel">
            
                </section>
                <section class="img">
                    <img class="img-product" id="product-image" src="#" alt="qualquercoisa">
                </section>
            </section>
            <input type="hidden" id="product-id" value="">
            <section class="buy-product">
                <h1 id="product-name"></h1>
                <h4 id="product-color">Cor: </h4>
                <button id="contact-product">Falar com Fabricante</button>
            </section>
        </section>
        <section class="description">
            <div class="hr"></div>
            <br>
            <br>
            <p><strong>Descrição do Produto:</strong></p>
            <p id="product-description"></p>
        </section>
    </section>
    <script src="/assets/script/includeFooter.js"></script>
    <script src="/assets/script/showMenuHeader.js"></script>
    <script src="/assets/script/imageselect.js"></script>
    <script src="/assets/script/productPage.js"></script>
</body>
</html>
